/* RESET PASSWORD */
.reset-section{
    margin-bottom: 7rem;
}
.reset-h3{
    margin-top: 5rem;
}
.reset-input{
    background-image: url(../../../Asset/images/person.png);
    background-size: 35px;
}
.reset-img-container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.reset-img-container img{
    width: 70%;
}

/* RESET PASSWORD 2 */
.reset-input2{
    margin: 4rem 0;
}
.reset-input2::placeholder{
    font-size: 1rem;
    color: black;
    font-weight: 600;
}
.reset-otp{
    margin-bottom: 4rem;
}



@media screen and (max-width: 1000px){
    /* RESET MOBILE */
    .reset-section{
        flex-direction: column;
        margin-top: 0;
    }
    .reset-section .left{
        width: 100%;
        margin-bottom: 3rem;
    }
    .reset-h3{
        margin-top: 2rem;
    }
    .reset-img-container, .reset-img-container img{
        width: 100%;
    }


    /* RESET MOBILE 2 */
    .reset-section2{
        margin-top: 2rem;
    }
    .reset-section .left{
        width: 100%;
        margin-bottom: 0;
    }
    .reset-input2{
        margin: 3rem 0;
    }
    .reset-otp{
        margin-bottom: 2rem;
    }
    
}